@using ÜrünYönetimSistemi.Models.classlar
@model List<AnaSayfa>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilgi Sayfası</title>
    <link rel="stylesheet" href="~/Web-anasayfa/style.css" />
</head>
<body>
    <div class="center">
        <div class="avatar"></div>
    </div>
    <div class="content">
        @foreach (var x in Model)
        {
            <h1>@x.isim</h1>
            <h2>@x.unvan</h2>
        }
    </div>
</body>
</html>
<a href="/Admin/Index/" class="btn btn-primary">YENİ KULLANICI EKLE</a>
