@using ÜrünYönetimSistemi.Models.classlar
@model List<AnaSayfa>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <table class="table table-bordered mt-3">
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach(var x in Model) 
        {
         <tr>
           <td>@x.id</td>
           <td>@x.isim</td>
           <td><a href="/Admin/SIL/@x.id" class="btn btn-danger">Sil</a></td>
           <td><a href="/Admin/AnaSayfaGetir/@x.id" class="btn btn-primary">Güncelle</a></td>
         </tr>
        }
    </table>
    <a href="/Admin/YeniKullanıcı" class="btn btn-primary">Yeni Kullanıcı Ekle</a>
